// index.scss

.teacher {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    button {
      margin-left: auto;
    }
  }

  .question-container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2rem;

    .question-item {
      display: grid;
      grid-template-columns: 1fr minmax(auto, 600px);
      grid-gap: 1rem;
      align-items: center;
      margin-bottom: 1rem;

      .question-id {
        font-weight: bold;
      }

      .question-detail {
        display: flex;
        flex-direction: column;
        
        .question-content {
          margin-bottom: 1rem;
        }

        .tags {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
        }
        
        .difficulty {
          font-size: 0.8rem;
          text-transform: uppercase;
          color: #888;
          margin-top: 1rem;
        }
      }
    }
  }
}

.tag {
  margin-right: 0.5rem;
}