@import "@/styles/common.scss";

.teacher {
  // ... 其他样式保持不变 ...

  .add-role-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .ant-input {
      margin-right: 10px; // 根据需要调整输入框和按钮之间的间距
    }
  }
}
