@import "@/styles/common.scss";

// 外壳，方便内部元素scroll
.tsc-sidebar {
    height: 100vh;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: $main-back;
    padding: 20px 0 50px 0;
    box-sizing: border-box;
    @include flex(column, flex-start, center);
    border-right: 1px solid $neutral2;

    // 隐藏滚动条
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        color: transparent;
    }

    .tsc-sidebar-logo {
        width: 80px;
    }

    .tsc-sidebar-menu {
        width: 100%;
        margin-top: 20px;
        padding: 0 10px;
        box-sizing: border-box;
        flex: 1;
        @include flex(column, flex-start, center);

        .tsm-wrapper {
            width: 100%;
            height: 40px;
            padding: 0 20px;
            box-sizing: border-box;
            @include flex(row, flex-start, center);
            border-radius: 10px;
            margin-bottom: 10px;
            cursor: pointer;

            &:hover {
                background-color: $neutral2;
            }

            .tsm-icon {
                width: 24px;
                height: 24px;
                margin-right: 10px;
            }

            .tsm-font {
                @include PF-14-thin($neutral7);
            }
        }

        .tsm-wrapper_choosed {
            background-color: $neutral7 !important;

            .tsm-font {
                color: $main-back;
            }
        }
    }

    .tsc-sidebar-log {
        width: 100%;
        margin-top: 16px;
        padding: 0 30px;
        box-sizing: border-box;
        @include flex(row, flex-start, center);
        flex-shrink: 0;

        .tsl-avatar {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .tsl-name {
            @include PF-14-thin($neutral7);
        }
    }

    .tsc-sidebar-logout {
        margin-top: 16px;
        flex-shrink: 0;
        box-sizing: border-box;
        @include flex(row, flex-start, center);

        .tsl-icon {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        .tsl-font {
            @include PF-14-thin($neutral7);
        }
    }
}