@import "@/styles/common.scss";

.login {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: white;
  left: 0;
  top: 0;
  @include flex(row, space-between, center);

  .login-logo {
    display: none;
  }

  .login-leftside {
    height: 100vh;
    width: 100%;
    @include flex(column, center, center);
    gap: 20px;

    p {
      width: 80%;
    }

    h1 {
      width: 80%;
    }
  }

  .login-leftside-small {
    display: none;
  }

  .login-rightside {
    flex-grow: 1;
    height: 100vh;
    @include flex(column, center, center);

    .back-box {
      width: 420px;
      margin-bottom: 20px;
    }

    .login-wrapper {
      width: 620px;
      @include flex(column, flex-start, center);
      background-color: $main-back;
      box-shadow: 6px 6px 20px 0px rgba(153, 153, 153, 0.05);
      border-radius: 8px;
      padding: 32px 40px;

      .login-title {
        @include PF-22-bold($neutral7);
        margin-bottom: 32px;
      }

      .login-card-content {
        width: 100%;
      }

      .login-card-bottom {
        @include PF-14-thin($neutral5);
        width: 100%;
        text-align: end;

        a {
          color: blue;
          cursor: pointer;

          &:hover {
            color: rgb(10, 161, 255);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .login {
    .login-logo {
      display: block;
      position: absolute;
      top: 20px;
      left: 20px;
      width: 80px;
      z-index: 2;
    }

    .login-leftside {
      display: none;
    }

    .login-leftside-small {
      height: 100vh;
      width: 635px;
      width: 100vw;
      display: flex;
      position: absolute;
      z-index: 1;
    }

    .login-rightside {
      flex-grow: 1;
      z-index: 2;

      .back-box {
        width: 350px;
        margin-bottom: 20px;

        .iconfont::before {
          color: $main-back;
        }

        p {
          color: $main-back;
        }
      }

      .login-wrapper {
        width: 350px;
        height: 408px;
        padding: 24px 24px;

        .login-input-wrapper {
          height: auto;

          .login-input-placeholder-wrapper {
            .login-input-placeholder {
              @include PF-16-thin($neutral6);
            }

            .login-input-placeholder-choosed {
              @include PF-12-thin($neutral4);
            }

            .login-input-placeholder-error {
              @include PF-16-thin($error-font);
            }

            .login-input-placeholder-btn {
              background: none;
              border: 0;
              position: relative;
              top: 16px;
            }
          }

          .login-input {
            width: 100%;
            border: 0;
            padding-bottom: 4px;
            background: linear-gradient(0deg,
                $brand3 1px,
                rgba(0, 0, 0, 0) 1px,
                rgba(0, 0, 0, 0) 100%) 0/0% no-repeat $main-back;
            border-bottom: 1px solid $neutral3;
            @include PF-18-bold($neutral7);
            height: 28px;
            line-height: 26px;
          }

          .login-input-error {
            border-bottom: 1px solid $error-font;
          }

          .login-input:focus {
            animation: progress 0.4s 1 linear;
            animation-fill-mode: forwards;
            border: none;
          }

          @keyframes progress {
            10% {
              background-size: 60%;
            }

            30% {
              background-size: 85%;
            }

            100% {
              background-size: 100%;
            }
          }

          .login-input:focus-visible {
            outline: none;
          }
        }

        .login-btn {
          @include btn(100%, 46px, $main-back, $brand4, 8px);
          font-size: 18px;
          margin-bottom: 20px;
          transition: 0.4s;
        }

        .login-btn:hover {
          @include form-btn-hover();
        }

        .login-hint {
          font-size: 14px;

          .login-hint-link {
            color: $link1;
          }

          .login-hint-link:hover {
            font-size: 14px;
          }
        }
      }
    }
  }
}