// index.scss

// Define some basic colors and typography
$primary-color: #1da57a; // A primary color for active buttons, links, etc.
$secondary-color: #fff; // Background color
$text-color: #333; // Primary text color
$border-color: #ebedf0; // Border color for lists and inputs
$hover-color: #f5f5f5; // Background color for hover state

.teacher-class-room {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: $secondary-color;
  color: $text-color;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .add-student-container {
    display: flex;
    align-items: center;
    margin-top: 20px;

    .ant-input-search {
      margin-right: 10px; // 根据需要调整输入框和按钮之间的间距
    }
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .ant-table-wrapper {
    margin-bottom: 20px;
    overflow: auto; // Enable horizontal scrolling for tables

    .ant-table {
      border: 1px solid $border-color;
      border-radius: 4px;

      .ant-table-thead > tr > th {
        background-color: $primary-color;
        color: $secondary-color;
        text-align: left;
        white-space: nowrap;
      }

      .ant-table-tbody > tr > td {
        border-bottom: none;
        white-space: nowrap;
      }

      tr.ant-table-row:hover > td {
        background-color: $hover-color;
      }
    }
  }

  .ant-btn {
    margin-right: 10px;

    &-primary {
      background-color: $primary-color;
      border-color: $primary-color;
    }

    &-danger {
      color: #f5222d;
      background-color: #fff;
      border-color: #f5222d;

      &:hover,
      &:focus {
        color: #fff;
        background-color: #f5222d;
      }
    }
  }

  .ant-input-search {
    max-width: 240px;
  }

  .add-student-form {
    margin-top: 20px;
    text-align: center;

    .ant-input {
      width: 200px;
      margin-right: 10px;
    }
  }

  .user-info-modal {
    .ant-modal-body {
      padding: 20px;
    }

    .user-info-list {
      list-style: none;
      padding-left: 0;
      margin-bottom: 20px;

      li {
        padding: 8px 0;
        border-bottom: 1px solid $border-color;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

// Responsive styles
@media (max-width: 768px) {
  .teacher-class-room {
    .ant-table-wrapper {
      overflow-x: auto;
    }

    .add-student-form {
      .ant-input,
      .ant-btn {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
}